In [ ]:
# !pip install pymongo

In [60]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,explode

In [61]:
import pymongo
import pandas as pd

# MongoDB connection string
connection_string = "mongodb+srv://macwansujay:Password@cluster0.ieom1em.mongodb.net/"

# Connect to MongoDB using the connection string
client = pymongo.MongoClient(connection_string)
db = client['ArrestData']

In [62]:
# Fetch data from the first collection
collection1 = db['NYPD_Arrest_Data__Year_to_Date_']
data1 = list(collection1.find())
df1 = pd.DataFrame(data1)

# Fetch data from the second collection
collection2 = db['NYPD_Arrests_Data__Historic_']
data2 = list(collection2.find())
df2 = pd.DataFrame(data2)

# Display the DataFrames
print("Year to Date Data:")
print(df1.head())
print(df1.shape)

Year to Date Data:
                        _id  ARREST_KEY ARREST_DATE  PD_CD  \
0  668ec51bbce24c7cbcefab23   280255493  01/10/2024  397.0
1  668ec51bbce24c7cbcefab24   279805419  01/02/2024  157.0
2  668ec51bbce24c7cbcefab25   279895750  01/03/2024  101.0
3  668ec51bbce24c7cbcefab26   280809090  01/19/2024  511.0
4  668ec51bbce24c7cbcefab27   280357135  01/11/2024  109.0

                          PD_DESC  KY_CD                     OFNS_DESC  \
0  ROBBERY,OPEN AREA UNCLASSIFIED  105.0                       ROBBERY
1                          RAPE 1  104.0                          RAPE
2                       ASSAULT 3  344.0  ASSAULT 3 & RELATED OFFENSES
3  CONTROLLED SUBSTANCE, POSSESSI  235.0               DANGEROUS DRUGS
4        ASSAULT 2,1,UNCLASSIFIED  106.0                FELONY ASSAULT

     LAW_CODE LAW_CAT_CD ARREST_BORO  ARREST_PRECINCT  JURISDICTION_CODE  \
0  PL 1601001          F           M               26                  0
1  PL 1303501          F           K               77                  0
2  PL 1200001          M           Q              106                  0
3  PL 2200300          M           B               49                  0
4  PL 1200502          F           K               81                  2

  AGE_GROUP PERP_SEX       PERP_RACE  X_COORD_CD  Y_COORD_CD   Latitude  \
0       <18        M           BLACK      996342      236149  40.814845
1     25-44        M  WHITE HISPANIC     1003509      185018  40.674496
2       65+        F           WHITE     1026836      180689  40.662526
3     45-64        M           BLACK     1027430      251104  40.855793
4     25-44        F           BLACK     1002457      192292  40.694456

   Longitude                    New Georeferenced Column
0 -73.956312                POINT (-73.956312 40.814845)
1 -73.930571  POINT (-73.9305713255961 40.6744956865259)
2 -73.846499                POINT (-73.846499 40.662526)
3 -73.843908                POINT (-73.843908 40.855793)
4 -73.934343                POINT (-73.934343 40.694456)
(63621, 20)

In [63]:
print("\nHistoric Data:")
print(df2.head())
print(df2.shape)

Historic Data:
                        _id  ARREST_KEY ARREST_DATE  PD_CD    LAW_CODE  \
0  668ebf927f49abbb2d28528f   186134240  08/07/2018  184.0  PL 12070E1
1  668ebf927f49abbb2d285290   220476154  11/13/2020  397.0  PL 1600500
2  668ebf927f49abbb2d285291   199148493  07/01/2019  440.0  PL 1553502
3  668ebf927f49abbb2d285292   209928408  02/22/2020  569.0  PL 2214000
4  668ebf927f49abbb2d285293   220330574  11/10/2020  101.0  PL 1200001

  LAW_CAT_CD ARREST_BORO  ARREST_PRECINCT  JURISDICTION_CODE AGE_GROUP  \
0          F           K               73                  0     45-64
1          F           B               40                  0     25-44
2          F           M               23                  1     25-44
3          M           M               32                  0     25-44
4          M           B               49                  0     25-44

  PERP_SEX       PERP_RACE  X_COORD_CD  Y_COORD_CD   Latitude  Longitude  \
0        M           BLACK   1007585.0    183788.0  40.671110 -73.915881
1        M           BLACK   1005041.0    234533.0  40.810398 -73.924895
2        M  BLACK HISPANIC    998829.0    226859.0  40.789348 -73.947352
3        M           BLACK   1001610.0    241367.0  40.829163 -73.937272
4        M           WHITE   1024396.0    250744.0  40.854826 -73.854880

                                         Lon_Lat  \
0   POINT (-73.91588130999997 40.67110980800004)
1  POINT (-73.92489531099994 40.810398494000026)
2   POINT (-73.94735241299998 40.78934789300007)
3  POINT (-73.93727189399993 40.829163304000076)
4   POINT (-73.85487970999998 40.85482622300003)

                          PD_DESC  KY_CD                     OFNS_DESC
0                             NaN    NaN                           NaN
1  ROBBERY,OPEN AREA UNCLASSIFIED  105.0                       ROBBERY
2                             NaN    NaN                           NaN
3           MARIJUANA, SALE 4 & 5  235.0               DANGEROUS DRUGS
4                       ASSAULT 3  344.0  ASSAULT 3 & RELATED OFFENSES
(239999, 20)

In [64]:
# Fill NaN values in the combined DataFrame
combined_df = combined_df.fillna(method='ffill').fillna(method='bfill')

C:\Users\macwa\AppData\Local\Temp\ipykernel_29820\4142858021.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  combined_df = combined_df.fillna(method='ffill').fillna(method='bfill')

In [65]:
# Combine the two DataFrames
combined_df = pd.concat([df1, df2], ignore_index=True)
print("Combined Data:")
print(combined_df.head())
print(combined_df.shape)

Combined Data:
                        _id  ARREST_KEY ARREST_DATE  PD_CD  \
0  668ec51bbce24c7cbcefab23   280255493  01/10/2024  397.0
1  668ec51bbce24c7cbcefab24   279805419  01/02/2024  157.0
2  668ec51bbce24c7cbcefab25   279895750  01/03/2024  101.0
3  668ec51bbce24c7cbcefab26   280809090  01/19/2024  511.0
4  668ec51bbce24c7cbcefab27   280357135  01/11/2024  109.0

                          PD_DESC  KY_CD                     OFNS_DESC  \
0  ROBBERY,OPEN AREA UNCLASSIFIED  105.0                       ROBBERY
1                          RAPE 1  104.0                          RAPE
2                       ASSAULT 3  344.0  ASSAULT 3 & RELATED OFFENSES
3  CONTROLLED SUBSTANCE, POSSESSI  235.0               DANGEROUS DRUGS
4        ASSAULT 2,1,UNCLASSIFIED  106.0                FELONY ASSAULT

     LAW_CODE LAW_CAT_CD ARREST_BORO  ...  JURISDICTION_CODE  AGE_GROUP  \
0  PL 1601001          F           M  ...                  0        <18
1  PL 1303501          F           K  ...                  0      25-44
2  PL 1200001          M           Q  ...                  0        65+
3  PL 2200300          M           B  ...                  0      45-64
4  PL 1200502          F           K  ...                  2      25-44

  PERP_SEX       PERP_RACE X_COORD_CD  Y_COORD_CD   Latitude  Longitude  \
0        M           BLACK   996342.0    236149.0  40.814845 -73.956312
1        M  WHITE HISPANIC  1003509.0    185018.0  40.674496 -73.930571
2        F           WHITE  1026836.0    180689.0  40.662526 -73.846499
3        M           BLACK  1027430.0    251104.0  40.855793 -73.843908
4        F           BLACK  1002457.0    192292.0  40.694456 -73.934343

                     New Georeferenced Column Lon_Lat
0                POINT (-73.956312 40.814845)     NaN
1  POINT (-73.9305713255961 40.6744956865259)     NaN
2                POINT (-73.846499 40.662526)     NaN
3                POINT (-73.843908 40.855793)     NaN
4                POINT (-73.934343 40.694456)     NaN

[5 rows x 21 columns]
(303620, 21)

In [66]:
# Convert the Pandas DataFrames to PySpark DataFrames
# Initialize Spark session
spark = SparkSession.builder \
    .appName("MongoDBToSpark") \
    .config("spark.driver.memory", "4g") \
    .getOrCreate()

combined_df = combined_df.drop(columns=['_id'])


# Convert Pandas DataFrames to PySpark DataFrames
spark_df = spark.createDataFrame(combined_df)

# Display the DataFrames
spark_df.show()

+----------+-----------+-----+--------------------+-----+--------------------+----------+----------+-----------+---------------+-----------------+---------+--------+--------------------+----------+----------+----------------+-----------------+------------------------+-------+
|ARREST_KEY|ARREST_DATE|PD_CD|             PD_DESC|KY_CD|           OFNS_DESC|  LAW_CODE|LAW_CAT_CD|ARREST_BORO|ARREST_PRECINCT|JURISDICTION_CODE|AGE_GROUP|PERP_SEX|           PERP_RACE|X_COORD_CD|Y_COORD_CD|        Latitude|        Longitude|New Georeferenced Column|Lon_Lat|
+----------+-----------+-----+--------------------+-----+--------------------+----------+----------+-----------+---------------+-----------------+---------+--------+--------------------+----------+----------+----------------+-----------------+------------------------+-------+
| 280255493| 01/10/2024|397.0|ROBBERY,OPEN AREA...|105.0|             ROBBERY|PL 1601001|         F|          M|             26|                0|      <18|       M|               BLACK|  996342.0|  236149.0|       40.814845|       -73.956312|    POINT (-73.956312...|    NaN|
| 279805419| 01/02/2024|157.0|              RAPE 1|104.0|                RAPE|PL 1303501|         F|          K|             77|                0|    25-44|       M|      WHITE HISPANIC| 1003509.0|  185018.0|40.6744956865259|-73.9305713255961|    POINT (-73.930571...|    NaN|
| 279895750| 01/03/2024|101.0|           ASSAULT 3|344.0|ASSAULT 3 & RELAT...|PL 1200001|         M|          Q|            106|                0|      65+|       F|               WHITE| 1026836.0|  180689.0|       40.662526|       -73.846499|    POINT (-73.846499...|    NaN|
| 280809090| 01/19/2024|511.0|CONTROLLED SUBSTA...|235.0|     DANGEROUS DRUGS|PL 2200300|         M|          B|             49|                0|    45-64|       M|               BLACK| 1027430.0|  251104.0|       40.855793|       -73.843908|    POINT (-73.843908...|    NaN|
| 280357135| 01/11/2024|109.0|ASSAULT 2,1,UNCLA...|106.0|      FELONY ASSAULT|PL 1200502|         F|          K|             81|                2|    25-44|       F|               BLACK| 1002457.0|  192292.0|       40.694456|       -73.934343|    POINT (-73.934343...|    NaN|
| 281488967| 02/01/2024|157.0|              RAPE 1|104.0|                RAPE|PL 1303501|         F|          Q|            113|                0|    25-44|       M|               BLACK| 1046315.0|  187088.0|40.6799807384666|-73.7762339071953|    POINT (-73.776233...|    NaN|
| 280769124| 01/19/2024|464.0|            JOSTLING|230.0|            JOSTLING|PL 1652501|         M|          M|              6|                0|    25-44|       M|               BLACK|  984134.0|  207984.0|       40.737547|       -74.000415|    POINT (-74.000415...|    NaN|
| 281338081| 01/30/2024|101.0|           ASSAULT 3|344.0|ASSAULT 3 & RELAT...|PL 1200001|         M|          M|             26|                0|    25-44|       M|               BLACK|  996014.0|  236126.0|        40.81478|       -73.957499|    POINT (-73.957499...|    NaN|
| 280961365| 01/23/2024|  NaN|              (null)|  NaN|              (null)|    (null)|    (null)|          M|              5|               97|    25-44|       M|               BLACK|  983903.0|  200257.0|       40.716337|       -74.001251|    POINT (-74.001251...|    NaN|
| 281426006| 01/31/2024|155.0|              RAPE 2|104.0|                RAPE|PL 1303001|         F|          B|             41|                0|    18-24|       M|               BLACK| 1013037.0|  236657.0|40.8162058439227|-73.8960011932583|    POINT (-73.896001...|    NaN|
| 281606761| 02/03/2024|105.0|   STRANGULATION 1ST|106.0|      FELONY ASSAULT|PL 1211200|         F|          Q|            102|                0|    45-64|       M|ASIAN / PACIFIC I...| 1030262.0|  191716.0|       40.692773|       -73.834076|    POINT (-73.834076...|    NaN|
| 281422833| 01/31/2024|105.0|   STRANGULATION 1ST|106.0|      FELONY ASSAULT|PL 1211200|         F|          K|             81|                0|    25-44|       M|               BLACK| 1005312.0|  190540.0|        40.68964|       -73.924051|    POINT (-73.924051...|    NaN|
| 281438374| 01/31/2024|263.0|         ARSON 2,3,4|114.0|               ARSON|PL 1500501|         F|          K|             69|                0|    25-44|       M|               BLACK| 1010576.0|  175628.0|       40.648698|       -73.905128|    POINT (-73.905128...|    NaN|
| 281179458| 01/26/2024|244.0|BURGLARY,UNCLASSI...|107.0|            BURGLARY|PL 1402501|         F|          K|             77|                0|    18-24|       M|               BLACK| 1003508.0|  185056.0|       40.674593|       -73.930572|    POINT (-73.930572...|    NaN|
| 281817070| 02/07/2024|109.0|ASSAULT 2,1,UNCLA...|106.0|      FELONY ASSAULT|PL 1200512|         F|          K|             79|                0|    25-44|       M|               WHITE|  999507.0|  190206.0|       40.688736|       -73.944984|    POINT (-73.944984...|    NaN|
| 281544391| 02/02/2024|101.0|           ASSAULT 3|344.0|ASSAULT 3 & RELAT...|PL 1200001|         M|          M|             20|                0|    45-64|       F|               WHITE|  991040.0|  225092.0|       40.784499|        -73.97548|    POINT (-73.97548 ...|    NaN|
| 282248602| 02/15/2024|101.0|           ASSAULT 3|344.0|ASSAULT 3 & RELAT...|PL 1200001|         M|          B|             47|                0|    18-24|       M|               BLACK| 1021554.0|  261934.0|       40.885545|       -73.865086|    POINT (-73.865086...|    NaN|
| 282525531| 02/20/2024|380.0| ROBBERY,CAR JACKING|105.0|             ROBBERY|PL 1601003|         F|          Q|            114|                0|      <18|       M|               BLACK| 1007694.0|  219656.0|       40.769552|       -73.915361|    POINT (-73.915361...|    NaN|
| 282241136| 02/15/2024|109.0|ASSAULT 2,1,UNCLA...|106.0|      FELONY ASSAULT|PL 1200501|         F|          K|             88|                0|    25-44|       F|               BLACK|  994089.0|  191965.0|       40.693571|       -73.964519|    POINT (-73.964519...|    NaN|
| 282453654| 02/19/2024|101.0|           ASSAULT 3|344.0|ASSAULT 3 & RELAT...|PL 1200001|         M|          M|             17|                0|    18-24|       F|               BLACK|  992253.0|  214996.0|       40.756789|        -73.97111|    POINT (-73.97111 ...|    NaN|
+----------+-----------+-----+--------------------+-----+--------------------+----------+----------+-----------+---------------+-----------------+---------+--------+--------------------+----------+----------+----------------+-----------------+------------------------+-------+
only showing top 20 rows

In [67]:
# Pre-processing 
from pyspark.sql.functions import to_date

# Convert ARREST_DATE to DateType
spark_df = spark_df.withColumn('ARREST_DATE', to_date(spark_df['ARREST_DATE'], 'MM/dd/yyyy'))

In [68]:
# Drop rows with missing critical information
spark_df = spark_df.dropna(subset=['ARREST_KEY', 'ARREST_DATE', 'LAW_CODE','PD_DESC'])

In [69]:
from pyspark.sql.functions import col

# Convert numerical columns to appropriate data types
spark_df = spark_df.withColumn('ARREST_KEY', col('ARREST_KEY').cast('int'))
spark_df = spark_df.withColumn('PD_CD', col('PD_CD').cast('int'))
spark_df = spark_df.withColumn('KY_CD', col('KY_CD').cast('int'))
spark_df = spark_df.withColumn('X_COORD_CD', col('X_COORD_CD').cast('int'))
spark_df = spark_df.withColumn('Y_COORD_CD', col('Y_COORD_CD').cast('int'))
spark_df = spark_df.withColumn('Latitude', col('Latitude').cast('float'))
spark_df = spark_df.withColumn('Longitude', col('Longitude').cast('float'))

In [70]:
# Handle categorical data
spark_df = spark_df.withColumn('AGE_GROUP', col('AGE_GROUP').cast('string'))
spark_df = spark_df.withColumn('PERP_SEX', col('PERP_SEX').cast('string'))
spark_df = spark_df.withColumn('PERP_RACE', col('PERP_RACE').cast('string'))

In [71]:
from pyspark.sql.functions import year, month

# Extract year and month from ARREST_DATE
spark_df = spark_df.withColumn("ARREST_YEAR", year(col("ARREST_DATE"))) \
                   .withColumn("ARREST_MONTH", month(col("ARREST_DATE")))

In [72]:
# Drop unnecessary columns
spark_df = spark_df.drop("New Georeferenced Column","ARREST_BORO","PD_CD","KY_CD","Lon_Lat")

In [75]:
# Rename column
spark_df = spark_df.withColumnRenamed("LAW_CAT_CD", "GENDER")

In [76]:
# Define a function to generate a random age within the range
import random

def random_age_within_group(age_group):
    if age_group == '<18':
        return random.randint(0, 17)
    elif age_group == '65+':
        return random.randint(65, 100)  # Assuming 100 as an upper limit for age
    else:
        ages = age_group.split('-')
        return random.randint(int(ages[0]), int(ages[1]))

# Register the UDF
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

random_age_udf = udf(random_age_within_group, IntegerType())

# Apply the UDF to create a new column AGE_RANDOM
spark_df = spark_df.withColumn("AGE_RANDOM", random_age_udf(spark_df["AGE_GROUP"]))

# Drop the original AGE_GROUP column
spark_df = spark_df.drop("AGE_GROUP")

In [77]:
# Show the final PySpark DataFrame
spark_df.show()

+----------+-----------+--------------------+--------------------+----------+------+---------------+-----------------+--------+--------------------+----------+----------+---------+----------+-----------+------------+----------+
|ARREST_KEY|ARREST_DATE|             PD_DESC|           OFNS_DESC|  LAW_CODE|GENDER|ARREST_PRECINCT|JURISDICTION_CODE|PERP_SEX|           PERP_RACE|X_COORD_CD|Y_COORD_CD| Latitude| Longitude|ARREST_YEAR|ARREST_MONTH|AGE_RANDOM|
+----------+-----------+--------------------+--------------------+----------+------+---------------+-----------------+--------+--------------------+----------+----------+---------+----------+-----------+------------+----------+
| 280255493| 2024-01-10|ROBBERY,OPEN AREA...|             ROBBERY|PL 1601001|     F|             26|                0|       M|               BLACK|    996342|    236149|40.814846|-73.956314|       2024|           1|         7|
| 279805419| 2024-01-02|              RAPE 1|                RAPE|PL 1303501|     F|             77|                0|       M|      WHITE HISPANIC|   1003509|    185018|40.674496| -73.93057|       2024|           1|        40|
| 279895750| 2024-01-03|           ASSAULT 3|ASSAULT 3 & RELAT...|PL 1200001|     M|            106|                0|       F|               WHITE|   1026836|    180689|40.662525|  -73.8465|       2024|           1|        73|
| 280809090| 2024-01-19|CONTROLLED SUBSTA...|     DANGEROUS DRUGS|PL 2200300|     M|             49|                0|       M|               BLACK|   1027430|    251104|40.855793| -73.84391|       2024|           1|        57|
| 280357135| 2024-01-11|ASSAULT 2,1,UNCLA...|      FELONY ASSAULT|PL 1200502|     F|             81|                2|       F|               BLACK|   1002457|    192292|40.694454| -73.93434|       2024|           1|        28|
| 281488967| 2024-02-01|              RAPE 1|                RAPE|PL 1303501|     F|            113|                0|       M|               BLACK|   1046315|    187088| 40.67998| -73.77624|       2024|           2|        30|
| 280769124| 2024-01-19|            JOSTLING|            JOSTLING|PL 1652501|     M|              6|                0|       M|               BLACK|    984134|    207984| 40.73755| -74.00041|       2024|           1|        26|
| 281338081| 2024-01-30|           ASSAULT 3|ASSAULT 3 & RELAT...|PL 1200001|     M|             26|                0|       M|               BLACK|    996014|    236126| 40.81478|  -73.9575|       2024|           1|        29|
| 280961365| 2024-01-23|              (null)|              (null)|    (null)|(null)|              5|               97|       M|               BLACK|    983903|    200257|40.716335| -74.00125|       2024|           1|        44|
| 281426006| 2024-01-31|              RAPE 2|                RAPE|PL 1303001|     F|             41|                0|       M|               BLACK|   1013037|    236657|40.816204|   -73.896|       2024|           1|        20|
| 281606761| 2024-02-03|   STRANGULATION 1ST|      FELONY ASSAULT|PL 1211200|     F|            102|                0|       M|ASIAN / PACIFIC I...|   1030262|    191716|40.692772|-73.834076|       2024|           2|        61|
| 281422833| 2024-01-31|   STRANGULATION 1ST|      FELONY ASSAULT|PL 1211200|     F|             81|                0|       M|               BLACK|   1005312|    190540| 40.68964| -73.92405|       2024|           1|        44|
| 281438374| 2024-01-31|         ARSON 2,3,4|               ARSON|PL 1500501|     F|             69|                0|       M|               BLACK|   1010576|    175628|40.648697| -73.90513|       2024|           1|        40|
| 281179458| 2024-01-26|BURGLARY,UNCLASSI...|            BURGLARY|PL 1402501|     F|             77|                0|       M|               BLACK|   1003508|    185056|40.674595| -73.93057|       2024|           1|        19|
| 281817070| 2024-02-07|ASSAULT 2,1,UNCLA...|      FELONY ASSAULT|PL 1200512|     F|             79|                0|       M|               WHITE|    999507|    190206|40.688736|-73.944984|       2024|           2|        25|
| 281544391| 2024-02-02|           ASSAULT 3|ASSAULT 3 & RELAT...|PL 1200001|     M|             20|                0|       F|               WHITE|    991040|    225092|  40.7845| -73.97548|       2024|           2|        59|
| 282248602| 2024-02-15|           ASSAULT 3|ASSAULT 3 & RELAT...|PL 1200001|     M|             47|                0|       M|               BLACK|   1021554|    261934|40.885544| -73.86509|       2024|           2|        22|
| 282525531| 2024-02-20| ROBBERY,CAR JACKING|             ROBBERY|PL 1601003|     F|            114|                0|       M|               BLACK|   1007694|    219656| 40.76955| -73.91536|       2024|           2|        12|
| 282241136| 2024-02-15|ASSAULT 2,1,UNCLA...|      FELONY ASSAULT|PL 1200501|     F|             88|                0|       F|               BLACK|    994089|    191965| 40.69357|-73.964516|       2024|           2|        32|
| 282453654| 2024-02-19|           ASSAULT 3|ASSAULT 3 & RELAT...|PL 1200001|     M|             17|                0|       F|               BLACK|    992253|    214996| 40.75679| -73.97111|       2024|           2|        23|
+----------+-----------+--------------------+--------------------+----------+------+---------------+-----------------+--------+--------------------+----------+----------+---------+----------+-----------+------------+----------+
only showing top 20 rows

In [78]:
spark_df.printSchema()

root
 |-- ARREST_KEY: integer (nullable = true)
 |-- ARREST_DATE: date (nullable = true)
 |-- PD_DESC: string (nullable = true)
 |-- OFNS_DESC: string (nullable = true)
 |-- LAW_CODE: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- ARREST_PRECINCT: long (nullable = true)
 |-- JURISDICTION_CODE: long (nullable = true)
 |-- PERP_SEX: string (nullable = true)
 |-- PERP_RACE: string (nullable = true)
 |-- X_COORD_CD: integer (nullable = true)
 |-- Y_COORD_CD: integer (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitude: float (nullable = true)
 |-- ARREST_YEAR: integer (nullable = true)
 |-- ARREST_MONTH: integer (nullable = true)
 |-- AGE_RANDOM: integer (nullable = true)

In [79]:
# Saving and exporting the dataframe to csv file
spark_df = spark_df.coalesce(1)

In [80]:
spark_df.write.csv('final_arrest_data_nypd.csv', header=True)

In [81]:
import sys
print(sys.executable)
print(sys.version)
print(sys.version_info)

C:\Users\macwa\anaconda3\envs\pyspark\python.exe
3.11.9 | packaged by Anaconda, Inc. | (main, Apr 19 2024, 16:40:41) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=11, micro=9, releaselevel='final', serial=0)

In [ ]:
# Close the cursor and connection
spark.stop()
cursor.close()
conn.close()